@using FlowCompiler

<input type="text" value="@CodeLine" oninput="@this.LineChanged"/>
<button onclick="@this.RunProgram">Run</button>
<br/>
<div>Result: @EvaluatedResult</div>

@code {
    private ParsedLine? _line;

    [Inject]
    private ICompiler? Compiler{ get; set; }
    [Inject] 
    private IDebugger? Debugger{ get; set; }

    [Parameter] 
    public string CodeLine { get; set; } = "Enter code here";

    [Parameter] 
    public string EvaluatedResult { get; set; } = "Not run yet";

    [Parameter] 
    public EventCallback ValueChanged {get;set;}

    private void LineChanged(ChangeEventArgs e)
    {
        _line = Compiler?.CompileLine(e.Value?.ToString() ?? "");

        if (_line is not null)
        {
            CodeLine = _line.StyledLine;
            ValueChanged.InvokeAsync();
        }
    }

    private void RunProgram()
    {
        // Can't actually happen, but injection and nullable
        // references don't play nicely
        if (_line is null) return;

        var dllPath = @"Content\test.dll";
        Compiler?.BuildDll(dllPath, _line);
        EvaluatedResult = Debugger?.LaunchApplication(dllPath).ToString() ?? "Error";

        ValueChanged.InvokeAsync();
    }
}
