@using FlowCompiler

<div id="the whole thing" style="height:100%; width:100%; overflow: hidden;">
    <div id="leftThing" style="float: left; width:25%;"><TestBrowser/></div>
    <div id="content" style="float: left; width:75%;"><TextEditor/></div>
</div>
