@using FlowCompiler;
<h3>TestBrowser</h3>

<div>
    <button @onclick="UpdateFileList">Refresh</button>
</div>

@foreach(var file in Files)
{
    <div class="test" style="background-color: @FileStyle(@file)" onclick="@(() => SelectTest(@file))">@file</div>
}


@code {
    private List<string> _files = new List<string>();
    public IReadOnlyList<string> Files => _files;

    private string _selectedFile = "";

    [Inject]
    private ICompiler? Compiler { get; set; }

    protected override void OnInitialized()
    {
        UpdateFileList();
    }

    public string FileStyle(string file) => 
        file == _selectedFile ? "#ccf;" : "#fff;";

    private void SelectTest(string file)
    {
        _selectedFile = file;
        Compiler?.LoadProgram($"Content/{file}");
        StateHasChanged();
    }

    private void UpdateFileList()
    {
        _files = 
            Directory.
            GetFiles("Content", "*.flow").
            Select(f => Path.GetFileName(f)).
            ToList();
    }
}
